<header class="neuro-header">
    <div class="glitch-logo">{% include neuro-logo.svg %}</div>

    <nav class="neuro-nav">
        <a href="{{ '/' | relative_url }}" class="glitch-link">Главная</a>
        <a href="{{ '/music' | relative_url }}" class="glitch-link">Музыка</a>
        <a href="{{ '/gigs' | relative_url }}" class="glitch-link">Концерты</a>
        <a href="{{ '/bio' | relative_url }}" class="glitch-link">О группе</a>
        <a href="{{ '/contact' | relative_url }}" class="glitch-link"
            >Контакты</a
        >
    </nav>
</header>
